@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
    height: 100%;
    margin: 0;
}

body {
    @apply bg-gray-50 text-gray-800;
}

.input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: #111827;
    background-color: #ffffff;
}

.input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 1px #2563eb;
}

.input::placeholder {
    color: #9ca3af;
}

/* Toast container animation */
.toast-wrapper {
    animation: toast-slide-up 3.5s ease forwards;
}

.toast-card {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 340px;
    padding: 14px 16px;

    border-left: 4px solid;
    border-radius: 12px;

    font-size: 14px;
    font-weight: 500;

    backdrop-filter: blur(6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);

    animation: toast-slide-up 3.5s ease forwards;
}

.toast-success {
    border-color: #22c55e;
    color: #15803d;
    background: rgba(34, 197, 94, 0.12);
}

.toast-error {
    border-color: #ef4444;
    color: #b91c1c;
    background: rgba(239, 68, 68, 0.12);
}

.toast-warning {
    border-color: #f59e0b;
    color: #b45309;
    background: rgba(245, 158, 11, 0.12);
}

.toast-info {
    border-color: #3b82f6;
    color: #1d4ed8;
    background: rgba(59, 130, 246, 0.12);
}


/* Icon */
.toast-icon {
    font-size: 16px;
    opacity: 0.85;
}

.toast-card button {
    display: flex;
    ;
    /* right: 6px; */
    font-size: 14px;
    line-height: 1;
}


/* Animation */
@keyframes toast-slide-up {
    0% {
        opacity: 0;
        transform: translateX(80px) translateY(0);
    }

    15% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateX(0) translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateX(0) translateY(-25px);
    }
}

/* reusable hover + card effect */

.card-hover {
    transition: all 0.35s ease;
}

.card-hover:hover {
    /* transform: translateY(-1px); */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* reusable image zoom */
.image-zoom {
    transform: scale(1.08);
    transition: transform 0.4s ease;
}

.group:hover .image-zoom {
    transform: scale(1.1);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    transition: background-color .2s ease;
}

.carousel-btn:hover {
    background: #e3e2e2;
    /* gray-100 */
}

.carousel-btn.left {
    left: .5rem;
}

.carousel-btn.right {
    right: .5rem;
}

.no-scrollbar::-webkit-scrollbar {
    display: none
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none
}