@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-gray-50 text-gray-800;
}

.input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    /* px-3 py-2 */
    border: 1px solid #d1d5db;
    /* gray-300 */
    border-radius: 0.5rem;
    /* rounded-lg */
    font-size: 0.875rem;
    /* text-sm */
    color: #111827;
    /* gray-900 */
    background-color: #ffffff;
}

.input:focus {
    outline: none;
    border-color: #2563eb;
    /* blue-600 */
    box-shadow: 0 0 0 1px #2563eb;
}

.input::placeholder {
    color: #9ca3af;
    /* gray-400 */
}

/* Toast container animation */
.toast-wrapper {
    animation: toast-slide-up 3.5s ease forwards;
}

.toast-card {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 340px;
    padding: 14px 16px;

    border-left: 4px solid;
    border-radius: 12px;

    font-size: 14px;
    font-weight: 500;

    backdrop-filter: blur(6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);

    animation: toast-slide-up 3.5s ease forwards;
}

.toast-success {
    border-color: #22c55e;
    color: #15803d;
    background: rgba(34, 197, 94, 0.12);
}

.toast-error {
    border-color: #ef4444;
    color: #b91c1c;
    background: rgba(239, 68, 68, 0.12);
}

.toast-warning {
    border-color: #f59e0b;
    color: #b45309;
    background: rgba(245, 158, 11, 0.12);
}

.toast-info {
    border-color: #3b82f6;
    color: #1d4ed8;
    background: rgba(59, 130, 246, 0.12);
}


/* Icon */
.toast-icon {
    font-size: 16px;
    opacity: 0.85;
}

.toast-card button {
    display: flex;
    ;
    /* right: 6px; */
    font-size: 14px;
    line-height: 1;
}


/* Animation */
@keyframes toast-slide-up {
    0% {
        opacity: 0;
        transform: translateX(80px) translateY(0);
    }

    15% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateX(0) translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateX(0) translateY(-25px);
    }
}